<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<a href=<%= "loadPlays.html?status=" + @counter %>>click here to load plays</a>

<p><%= @player1 %> of the <%= @team1 %> did something!  Sports!</p>
<p><%= @player2 %> of the <%= @team2 %> did something!  Sports!</p>
<p><%= @player3 %> of the <%= @team3 %> did something!  Sports!</p>